<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{masterlayout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homepage/index.css}"/>
    <title>CRUDLAB - FACULTY VIEW INFORMATION</title>
</head>
<body>
<th:block layout:fragment="content">
    <form id="viewFacultyInformationForm" th:object="${viewingFaculty}">
        <div>
            <span style="font-size: 1.5em">Information about the Faculty</span>
            <span style="float: right">
                <a class="btn btn-primary" th:href="@{'/crudlab/faculties'}">Back to the List</a>
                <a class="btn btn-secondary" th:href="@{'/crudlab/faculty/edit/'+${viewingFaculty.id}}">Edit</a>
            </span>
        </div>

      <p>&nbsp;</p>

        <dl class="row">
            <dt class="col-sm-2">Faculty ID</dt>
            <dd class="col-sm-10" th:text="${viewingFaculty.facultyId}"></dd>

            <dt class="col-sm-2">First Name</dt>
            <dd class="col-sm-10" th:text="${viewingFaculty.person.firstName}"></dd>

            <dt class="col-sm-2">Middle Name</dt>
            <dd class="col-sm-10" th:text="${viewingFaculty.person.middleName}"></dd>

            <dt class="col-sm-2">Last Name</dt>
            <dd class="col-sm-10" th:text="${viewingFaculty.person.lastName}"></dd>

            <dt class="col-sm-2">Birthdate</dt>
            <dd class="col-sm-10" th:text="${viewingFaculty.person.birthdate}"></dd>
        </dl>

        <div th:if="${viewingFaculty.courseOffers!=null&&viewingFaculty.courseOffers.size()>0}">
            <h4 style="alignment: center">Classes Assigned for this teacher</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Course</th>
                        <th scope="col">Section</th>
                        <th scope="col">Students</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="c : ${viewingFaculty.courseOffers}">
                        <td th:text="${c.course.cod}+'-'+${c.course.name}"></td>
                        <td th:text="${c.section}"></td>
                        <td th:text="${c.attendances.size()}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${viewingFaculty.courseOffers==null||viewingFaculty.courseOffers.size()==0}">
            <h4 style="color:red">There is not any class assigned for this student yet!</h4>
        </div>

    </form>
</th:block>

<th:block layout:fragment="footer"></th:block>

</body>
</html>