<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{masterlayout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homepage/index.css}" />
    <title>CRUDLAB - NEW COURSE REGISTRATION</title>
</head>
<body>
    <th:block layout:fragment="content">
        <form id="courseRegistrationForm" method="post" action="/crudlab/course/new" th:object="${newCourse}">
            <fieldset>
                <legend>New Course Registration Form</legend>


                <!--<div class="form-group" th:classappend="${#fields.hasErrors('cod')} ? 'has-error'">
                    <label for="codField">COD:</label>
                    <input id="codField" name="codField" type="text" class="form-control" th:field="*{cod}"/>
                    <span th:if="${#fields.hasErrors('cod')}" th:errors="*{cod}" class="help-block"></span>
                </div>-->

                <div class="form-group" th:classappend="${#fields.hasErrors('cod')} ? 'has-error'">
                    <label for="codField">COD</label>
                    <input type="text" class="form-control" id="codField" name="codField" th:field="*{cod}" />
                    <span th:if="${#fields.hasErrors('cod')}" th:errors="*{cod}" id="errorCOD" class="help-block"></span>
                </div>

                <div class="form-group">
                    <label for="nameField">Name:</label>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger"></span>
                    <input id="nameField" name="nameField" type="text" class="form-control" th:field="*{name}"/>
                </div>

                <div class="form-group">
                    <label for="descriptionField">Description:</label>
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="alert alert-danger"></span>
                    <textarea id="descriptionField" name="descriptionField" class="form-control" th:field="*{description}"></textarea>
                </div>

                <div style="float:right">
                    <a href="/crudlab/courses" class="btn btn-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                    <button id="btnSubmit" type="submit" class="btn btn-success">Register Course</button>
                </div>

            </fieldset>

        </form>
    </th:block>

    <th:block layout:fragment="footer"></th:block>

</body>
</html>